/* NAVBAR */
.navbar {
  padding: 10px;
  font-size: 1rem;
  letter-spacing: .1rem;
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.7);
}
.nav-item {
  padding-left: .3rem;
  padding-right: .3rem;
}
.navbar-nav li {
  padding-right: 70px;
}
.nav-link:hover {
  font-size: 1.01rem ! important;
  color: green!important;
}
.navbar-brand img {
  height: 3rem;
}
