@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap");
@import url("componentes/navbar.css");
@import url("componentes/banner.css");
@import url("componentes/welcome.css");
@import url("componentes/footer.css");

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-indent: none;
  overflow-x: hidden;
  text-align: center;
}



/* media queries */
@media (max-width: 1140px) {
  .carousel-caption h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

}
@media (max-width: 780px) {
  .carousel-caption h1 {
    font-size: 2.7rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
  }
.carousel-caption h3 {
  font-size: 130%;
  font-weight: 300;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.jumbotron {
  padding: 0.5rem;
  border-radius: 0;
}
.size {
  font-size: 1rem;
}
.sizevideo {
  width=720;
  height=400;
}
}
